:root {
    --dark: rgb(54, 56, 93);
    --darker: rgb(31, 32, 39);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
	min-width: 400px;
	height: 100%;
	
	padding: 0 10px;
	
	font-family: 'Roboto',sans-serif;
	
	background-color: var(--dark);
	color: #ddd;
	
	transition: 0.4s;
}

.app-wrap{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 0.5rem;
	
	width: 100%;
}

.app-wrap h3 {
	margin: 1rem 0;
	letter-spacing: 0.11rem;
}

.app-wrap input {
	width: 100%;
	
	border: none;
	outline: none;
	border-radius: 0.5rem;
	
	font-size: 1.2rem;
	font-weight: normal;
	letter-spacing: 0.2rem;
	
	padding: 0.5rem 1rem;
	margin: 0.7rem 1rem;
	
	background-color: rgba(255,255,255,0.2);
	color: #fff;
	
	transition: 0.2s;
}

.app-wrap input:focus {
	background-color: rgba(255,255,255,0.3);
}

.app-wrap .button-div {
	display: flex;
	justify-content: center;
	gap: 1.2rem;	
	
	width: 100%;
	
	margin: 1rem 2rem;
}

.app-wrap .button-div button {
	cursor: pointer;

    background: #5f9341;
    color: white;

    padding: 10px 20px;

    border: none;
	outline: none;
    border-radius: 1rem;

    font-weight: bold;

    transition: 0.3s;
}

.app-wrap .button-div button:hover {
	background: #41652c;
}

.app-wrap .button-div button:active{
	background: #5f9341;
}

.app-wrap .button-div button:focus {
	background: #5f9341;
}

.app-wrap .button-div #delete-btn {
	border: 1px solid #5f9341;
    background: white;
    color: #5f9341;
    
}

.app-wrap .button-div #delete-btn:hover{
	background: #5f9341;
    color: white
}

.app-wrap .button-div #delete-btn:active{
	background: white;
    color: #5f9341;
}

.app-wrap .button-div #delete-btn:focus{
	background: white;
    color: #5f9341;
}

.app-wrap ul {
	margin: 20px 0;
    list-style: none;
}

.app-wrap li {
	margin: 5px;
}

.app-wrap li a {
	font-size: 1rem;
	color: #caffab;
	text-decoration: none;
}

.app-wrap li a:hover {
	border-bottom: 2px solid #caffab;
}